################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fortune/DesignTimeBuild
/.vs/Fortune/v17/.futdcache.v1
/.vs/Fortune/project-colors.json
/src/Web/bin/Release/net6.0
/src/Web/obj/Release/net6.0/PubTmp/EFSQLScripts
/src/Web/obj/Release/net6.0/PubTmp/Out/cs
/src/Web/obj/Release/net6.0/PubTmp/Out
/src/Web/obj/Release/net6.0
/src/Web/obj
/src/Web/Properties/PublishProfiles
/src/Core/bin
/src/Core/obj
/src/Data/bin
/src/Data/obj
/src/Shared
/src/Shared
/src/Web/Properties
/src/Web/obj/Release
/src/Web/obj/Debug
/.vs/Fortune/FileContentIndex
*.suo
