@page

@model Web.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h6 class="display-6">@ViewData["Title"]</h6>
<partial name="_StatusMessage" model="Model.StatusMessage" />
