@page
@model Web.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h6 class="display-6">@ViewData["Title"]</h6>
<partial name="_StatusMessage" model="Model.StatusMessage" />
