@page
@model Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h6 class="display-6">@ViewData["Title"]</h6>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
