.header {
    padding: 60px;
    text-align: center;
    background: linear-gradient(350deg,#f8c6ff -6%, rgba(255,196,255,0), 60%, #006699), #ffeec4;
    color: black;
    height: 200px;
}

    .header h1 {
        font-size: 40px;
    }


div.aboutRow {
    margin-bottom: 69px;
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.aboutImg {
    width: 100%;
    padding: 20px;
    height: 300px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 16px;
    resize: vertical;
}

textarea{
    height:250px;
    max-height: 260px;
}

button.sendMe {
    background-color: #2a9d8f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    button.sendMe:hover {
        background-color: #45a049;
    }

.mainContent{
    overflow: auto;
}

.tweet {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.tweet img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/*   Small devices (desktop, 992px)*/
@media (max-width: 576px) {
    .header {
        padding: 5px;
        height: auto;
    }
    input[type=text], input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 0;
        margin-bottom: 16px;
        resize: vertical;
        height: 35px;
    }

    textarea {
        max-height: 160px;
    }
}

form span {
    margin-top: -18px;
    display: block;
}
