*{
    box-sizing: border-box;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Permanent Marker', cursive;
    background-color: #fefaf6;
}

.homePageMainBorder {
    height: 600px;
    border-radius: 48px;
    width: 100%;
    padding: 37px 60px 17px 60px;
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: 3em;
}

    .homePageMainBorder:last-child {
        margin-bottom: 7em;
    }

div.homeRow {
    height: 300px;
    position: relative;
    top: 5%;
}

.homePageMain {
    height: auto;
}

    .homePageMain img {
        width: 100%;
        height: 180px;
        border-radius: 15px;
    }

    .homePageMain h1 {
        font-size: 62px;
        font-weight: bold;
        text-align: left;
    }


blockquote {
    margin: 0;
    width: auto;
    font-family: 'Permanent Marker', cursive;
}

    blockquote p {
        padding: 15px;
        background: #eee;
        border-radius: 5px;
    }

        blockquote p::before {
            content: '\201C';
        }

        blockquote p::after {
            content: '\201D';
        }


.homePageSection {
    margin-top: 90px;
}

    .homePageSection p {
        text-align: justify;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        width: 420px;
        left: 33%;
    }

/*   larger devices (desktop, 1200px)*/
@media (max-width: 1200px) {
    .homePageSection p {
        width: 400px;
        text-align: justify;
        left: 27%;
        top: 10%;
    }
}

/*   large devices (desktop, 992px)*/
@media (max-width: 992px) {
    .homePageSection {
        margin-top: 50px;
    }

        .homePageSection p {
            width: 400px;
            text-align: justify;
            left: 16%;
            top: 15%;
        }
}

/*   Medium devices (Tablets, 768px)*/
@media (max-width: 768px) {
    .homePageSection p {
        width: 300px;
        left: 10%;
    }
}

/*   Small devices (desktop, 992px)*/
@media (max-width: 576px) {

    .homePageMainBorder {
        padding-top: 10px;
    }
    .homePageMain img {
        width: 100%;
        height: 150px;
        border-radius: 15px;
    }

    .homePageMain h1 {
        font-size: 40px;
    }

    .homePageSection {
        margin: -22px 0 0 0;
    }
    .homePageSection p {
        width: 100%;
        font-size: smaller;
        left: -1%;
        margin: 0;
    }
        .homePageSection p:first-child {
            margin-bottom: 10px;
        }

}

div.learnMore {
    position: absolute;
    bottom: 16px;
    right: 17%;
}


.col3sm {
    background-color: red;
    height: calc(100% - 40px);
    border: 2px solid green;
    margin-right: 20px;
}
