* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
    font-family: 'Permanent Marker', cursive;
    background-color: #fefaf6;
}

.homePageMainBorder {
    height: 600px;
    border-radius: 48px;
    width: 100%;
    padding: 37px 60px 17px 60px;
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: 3em;
}

    .homePageMainBorder:last-child {
        margin-bottom: 7em;
    }

div.homeRow {
    height: 300px;
    position: relative;
    top: 5%;
}

.homePageMain {
    height: auto;
}

    .homePageMain img {
        width: 100%;
        height: 180px;
        border-radius: 15px;
    }

    .homePageMain h1 {
        font-size: 62px;
        font-weight: bold;
        text-align: left;
    }

blockquote {
    margin: 0;
    width: auto;
    font-family: 'Permanent Marker', cursive;
}

    blockquote p {
        padding: 15px;
        background: #eee;
        border-radius: 5px;
    }

        blockquote p::before {
            content: '\201C';
        }

        blockquote p::after {
            content: '\201D';
        }

.homePageSection {
    margin-top: 90px;
}

    .homePageSection p {
        text-align: justify;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        width: 420px;
        left: 33%;
    }

/*   larger devices (desktop, 1200px)*/
@media (max-width: 1200px) {
    .homePageSection p {
        width: 400px;
        text-align: justify;
        left: 27%;
        top: 10%;
    }
}



/*   Medium devices (Tablets, 768px)*/
@media (max-width: 768px) {
    .homePageSection p {
        width: 300px;
        left: 10%;
    }
}

/*   large devices (laptop, 992px)*/
@media (max-width: 992px) {
    .homePageSection {
        margin-top: 50px;
    }

        .homePageSection p {
            width: 400px;
            text-align: justify;
            left: 16%;
            top: 15%;
        }
}

div.learnMore {
    position: absolute;
    bottom: 16px;
    right: 17%;
}

.col3sm {
    background-color: red;
    height: calc(100% - 40px);
    border: 2px solid green;
    margin-right: 20px;
}

/*** Developer ***/

div.software-tools {
    background-color: #fefaf6;
    padding: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

    div.software-tools div.software-tool {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 150px;
        justify-content: space-around;
        margin-bottom: 10px;
    }

        div.software-tools div.software-tool i.software-tool-icon {
            align-self: center;
            font-size: 47px;
        }

        div.software-tools div.software-tool p.software-tool-text {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin: 0;
            padding: 0;
            align-self: center;
        }

div.software-experience {
    margin-top: 6rem;
}

div.developer-experience {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

div.software-experience > div.company-name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3px;
}

div.software-experience > div.company-section {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

    div.software-experience > div.company-section > div.company-section-left {
        text-align: left;
        flex: 70%;
    }

div.software-experience
div.company-section
div.company-section-left
p.company-section-text {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: justify;
}

div.software-experience > div.company-section > div.company-section-right {
    flex: 20%;
    margin-left: 25px;
    width: auto;
}

    div.software-experience > div.company-section > div.company-section-right > img {
        border-radius: 25px;
        margin-top: 45px;
        width: 296px;
        height: 245px;
    }

div.developer-experience {
    margin-top: 6rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

    div.developer-experience > div.company-name {
        width: 100%;
        text-align: center;
        margin-bottom: 3px;
    }

    div.developer-experience > div.resume-section {
        width: 100%;
        text-align: center;
        font-size: 30px;
        height: 483px;
    }

        div.developer-experience > div.resume-section > div.tab {
            float: left;
            border-left: 2px solid #ccc;
            width: 30%;
            height: inherit;
            padding-top: 20px;
        }

            div.developer-experience > div.resume-section > div.tab button {
                display: block;
                background-color: inherit;
                color: black;
                padding: 22px 16px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
                font-size: 20px;
                cursor: pointer;
            }

                div.developer-experience > div.resume-section > div.tab button:hover {
                    background-color: #ccc;
                    border-left: 4px solid black;
                }

                div.developer-experience > div.resume-section > div.tab button.active {
                    color: white;
                    background-color: #e07a5f;
                    border-left: 4px solid #ddd;
                }

        div.developer-experience > div.resume-section > div.tabcontent {
            float: left;
            padding: 10px 12px;
            width: 70%;
            display: none;
            height: inherit;
        }

            div.developer-experience > div.resume-section > div.tabcontent > ul {
                list-style: square outside none;
            }

                div.developer-experience > div.resume-section > div.tabcontent > ul > li {
                    font-size: 17px;
                    text-align: justify;
                    margin-bottom: 20px;
                }

div.dev-exp-mobile, div.dev-exp-slideshow-mobile, div.dot-container-mobile {
    display: none;
}


div.my-reviews {
    margin-top: 3rem;
    text-align: left;
    display: flex;
    justify-content: end;
}

div.slideshow-container {
    position: relative;
    background: #f1f1f1;
    margin-top: 1rem;
    height: 420px;
}

    div.slideshow-container div.slide {
        display: none;
        padding: 80px;
        text-align: center;
    }

    div.slideshow-container > a.prev,
    div.slideshow-container > a.next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #888;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    div.slideshow-container > a.next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        div.slideshow-container > a.prev:hover,
        div.slideshow-container > a.next:hover {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }

div.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

    div.dot-container > span.dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        div.dot-container > span.dot.active,
        div.dot-container > span.dot:hover {
            background-color: black;
        }

q {
    font-size: 20px;
    font-style: italic;
}

.saidBy {
    margin-top: 50px;
    color: #000;
}

div.mobile-reviews {
    display: none;
}



/* Writing*/
div.blog-container {
}

    div.blog-container > div.row {
    }

        div.blog-container > div.row > div {
            height: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            padding: 20px;
        }

            div.blog-container > div.row > div:first-child {
                padding: 20px;
                margin-left: 6rem;
            }

            div.blog-container > div.row > div:last-child {
                padding-top: 4rem;
                border-left: 1px solid green;
            }

            div.blog-container > div.row > div > div.popular-section {
                height: 998px;
                width: 100%;
                background-color: #81b29a;
                color: white;
            }

                div.blog-container > div.row > div > div.popular-section > h3 {
                    padding: 30px 30px;
                }

                div.blog-container > div.row > div > div.popular-section > div.btnRecent {
                    height: 30%;
                    width: 100%;
                    background-color: #fefaf6;
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                }

                    div.blog-container > div.row > div > div.popular-section > div.btnRecent > a {
                        margin-bottom: 20px;
                    }

            div.blog-container > div.row > div > a {
                text-decoration: none !important;
                display: block;
            }

                div.blog-container > div.row > div > a > div.allpost-section {
                    display: flex;
                    box-shadow: 0 10px 30px -15px var(--navy-shadow);
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: flex-start;
                    position: relative;
                    height: 100%;
                    padding: 2rem 1.75rem;
                    background-color: #2a9d8f;
                    border-radius: 8px;
                    color: wheat;
                    height: 300px;
                    width: 226px;
                    margin: 7px;
                }

                    div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.header-first {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 35px;
                        align-items: center;
                    }

                        div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.header-first > i {
                            display: flex;
                            font-size: 35px;
                        }

                    div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.post-title {
                    }

                    div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.post-description {
                        height: 100px;
                        margin-top: 15px;
                        white-space: pre-line;
                    }

                        div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.post-description > p {
                            font-size: 10px;
                        }

                    div.blog-container > div.row > div > a > div.allpost-section > div.post-box > div.header-post > div.post-footer {
                        position: absolute;
                        font-size: 13px;
                        bottom: 0;
                    }


/** Blog Post*/

div.blopPost {
}

    div.blopPost > h2 {
    }

    div.blopPost > div.header {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0;
    }

    div.blopPost > div.header::after{
        clear: both;
        content: "";
        display: table;
    }

        div.blopPost > div.header > img {
            float: left;
            border-radius: 50%;
            margin-right: 20px;
            height: 150px;
            width: 150px;
        }

        div.blopPost > div.header > p {
            text-align: left;
            margin-top: 5px;
        }

            div.blopPost > div.header > p > span {
                font-size: 20px;
                margin-right: 25px;
            }
            div.blopPost > div.header > h4{
                text-align: left;
            }

    div.blopPost > div.row {
        height: 928px;
    }

        div.blopPost > div.row > div.content {
            text-align: center;
        }

            div.blopPost > div.row > div.content > p {
            }

/*   small devices (phone, 992px)*/
@media (max-width: 576px) {
    .homePageMainBorder {
        padding-top: 10px;
    }

    .homePageMain img {
        width: 100%;
        height: 150px;
        border-radius: 15px;
    }

    .homePageMain h1 {
        font-size: 40px;
    }

    .homePageSection {
        margin: -22px 0 0 0;
    }

        .homePageSection p {
            width: 100%;
            font-size: smaller;
            left: -1%;
            margin: 0;
        }

            .homePageSection p:first-child {
                margin-bottom: 10px;
            }

    div .software-tools {
        background-color: #fefaf6;
        padding: 0;
        margin: 40px;
        margin-bottom: 40px;
        display: flex;
    }

        div.software-tools div.software-tool {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 50px;
            justify-content: space-around;
            margin-bottom: 5px;
        }

            div.software-tools div.software-tool p.software-tool-text {
                display: none;
            }

    div.software-experience {
        margin-top: 0;
    }

        div.software-experience div.company-section div.company-section-left p.company-section-text {
            font-size: 10px;
            font-weight: 100;
            text-align: center;
            margin: 0;
            padding: 0;
            text-align: justify;
        }

        div.software-experience > div.company-section > div.company-section-right > img {
            border-radius: 25px;
            margin-top: 15px;
            width: 296px;
            height: 245px;
        }

    div.developer-experience {
        display: none;
    }

    div.slideshow-container {
        position: relative;
        background: #f1f1f1;
        margin-top: 1rem;
        height: 380px;
    }

        div.slideshow-container div.slide {
            display: none;
            padding: 25px;
            text-align: center;
        }

    div.dot-container > span.dot.active,
    div.dot-container > span.dot:hover {
        background-color: black;
    }

    q {
        font-size: 10px;
        font-style: italic;
    }

    .saidBy {
        margin-top: 15px;
        color: #000;
    }

    div.dev-exp-mobile, div.dev-exp-slideshow-mobile, div.dot-container-mobile {
        display: block;
    }

    div.dev-exp-mobile {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    div.dev-exp-slideshow-mobile {
        position: relative;
        background: #f1f1f1;
        margin-top: 1rem;
        height: 510px;
    }

        div.dev-exp-slideshow-mobile > h4.mobile-title {
            text-align: center;
            margin-top: 10px;
        }

        div.dev-exp-slideshow-mobile > ul.slide-mobile {
            margin-top: 20px;
        }

            div.dev-exp-slideshow-mobile > ul.slide-mobile > li {
                text-align: center;
                font-size: 10px;
                font-weight: 100;
                margin-bottom: 15px;
            }

        div.dev-exp-slideshow-mobile > a.prev,
        div.dev-exp-slideshow-mobile > a.next {
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: #888;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        div.dev-exp-slideshow-mobile > a.next {
            position: absolute;
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            div.dev-exp-slideshow-mobile > a.prev:hover,
            div.dev-exp-slideshow-mobile > a.next:hover {
                /* background-color: rgba(0, 0, 0, 0.8); */
                color: rgba(0, 0, 0, 0.8);
            }

    div.dot-container-mobile {
        text-align: center;
        padding: 20px;
        background: #ddd;
    }

        div.dot-container-mobile > span.dot-mobile {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

            div.dot-container-mobile > span.dot-mobile.active,
            div.dot-container-mobile > span.dot-mobile:hover {
                background-color: black;
            }

    div.my-reviews, div.slideshow-container, div.dot-container {
        display: none;
    }


    div.mobile-reviews {
        display: block;
        margin-top: 2rem;
    }

        div.mobile-reviews > div.company-name {
            width: 100%;
            text-align: right;
            margin-bottom: 3px;
        }


        div.mobile-reviews > div.contain-review {
            border: 2px solid #ccc;
            background-color: #eee;
            border-radius: 5px;
            padding: 15px;
            margin: 16px 0;
        }

            div.mobile-reviews > div.contain-review::after {
                content: "";
                clear: both;
                display: table;
            }

            div.mobile-reviews > div.contain-review > img.companyLogo {
                float: left;
                margin-right: 20px;
                border-radius: 50%;
                height: 60px;
                width: 60px;
                display: block;
            }

            div.mobile-reviews > div.contain-review > p > span {
                font-size: 10px;
                margin-right: 15px;
            }


    div.blog-container > div.row > div:first-child {
        padding: 2px;
        margin-left: 0;
    }


    div.blog-container > div.row > div > a > div.allpost-section {
        width: 165px;
    }

    div.blog-container > div.row > div:last-child {
        padding-top: 3rem;
        border: none;
    }

    div.blopPost > div.header {
        text-align: center;
    }

        div.blopPost > div.header > img {
            float: left;
            display: block;
        }
}



/* @media (min-width: 1024px) {
    div.software-tools div.software-tool {
        width: 12.5%;
    }
}*/

/*@media (min-width: 600px) {
    div.software-tools div.software-tool {
        width: 25%;
    }
} 
*/
