@page
@model Web.Pages.ContactConfirmationModel
@{
    ViewData["Title"] = "Contact Confirmation";
}



<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>... for contacting me.</strong> If you expect a reply, I will be sure to respond promptly.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-page="/Home" role="button">Continue to home</a>
    </p>
</div>