@page
@using Web.Pages.Classes
@model Web.Pages.CreatePostModel
@{
    ViewData["ActivePage"] = BreadCrumbs.CreatePost;
    ViewData["Title"] = "Create Post";
}

<form method="post">
    <partial name="Shared/_CreatePost" model="Model.UserPost" />
</form>