@page
@model IndexModel
@{
    Layout = "_CapLayout";
    ViewData["Title"] = "Home page";
}
@* <div class="banner">
    <div class="row">
    <div class="col-md-4 leftSide">
    <h3 class="myName toUpper">Tobi Kareem</h3>

    <h2 class="myDesc toUpper">Developer | Writer | Entrepreneur </h2>


    </div>

    <div class="col-md-6 rightSide">
    <img src="~/lib/images/TobiAtTesla.png" class="homeImage" alt="tobi1.jpg" asp-append-version=true />

    <div>
    <figure>
    <blockquote cite="https://www.huxley.net/bnw/four.html">
    <p>Life is precious beyound words, and when you get a second chance - every morning, every decision,
    can be that second chance. Take a moment to define who you really are and what you really want.
    A moment to seek your fortune.
    </p>
    </blockquote>
    <figcaption>— Oluwatobi Kareem, <cite>Captain Oath</cite></figcaption>
    </figure>
    </div>
    </div>
    </div>
    </div>
    <div class="text-center">
    <a class="btn btn-md enterHere" asp-page="/Home"> Enter Here </a>
    </div> *@

<div d-flex justify-content-center align-items-center banner>
    <div class="row">
        <div class="col-md-6">
            <div class="p-3 mt-5">
                <h3 class="myName toUpper">Tobi Kareem</h3>

                <h2 class="myDesc toUpper">Developer | Writer | Entrepreneur </h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="p-3">
                <img src="~/lib/images/TobiAtTesla.png" class="homeImage" alt="tobi1.jpg" asp-append-version=true />
                <figure>
                    <blockquote cite="https://www.huxley.net/bnw/four.html">
                        <p>Life is precious beyound words, and when you get a second chance - every morning, every
                            decision,
                            can be that second chance. Take a moment to define who you really are and what you really
                            want.
                            A moment to seek your fortune.
                        </p>
                    </blockquote>
                    <figcaption>— Oluwatobi Kareem, <cite>Captain Oath</cite></figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a class="btn btn-md enterHere" asp-page="/Home"> Enter Here </a>
        </div>
    </div>
</div>