<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${var:logDir}internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variables>
		<variable name="logDir" value="C:\Logs\" />
	</variables>

	<targets>
		<!-- File Target for all log messages -->
		<target xsi:type="File" name="allfile" fileName="${var:logDir}nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- File Target for application-specific logs -->
		<target xsi:type="File" name="ownFile-web" fileName="${var:logDir}own-nlog-${shortdate}.log"
				layout="${longdate}|${machinename}|${threadid}|${aspnet-user-identity}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

		<!-- Console Target for hosting lifetime messages -->
		<target xsi:type="Console" name="lifetimeConsole">
			<layout layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
		</target>
	</targets>

	<!-- Rules for log filtering -->
	<rules>
		<!--All logs-->
		<logger name="*" minlevel="Info" writeTo="allfile" />

		<!--Hosting lifetime messages to console -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Filter non-critical Microsoft logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<!--Application logs-->
		<logger name="*" minlevel="Info" writeTo="ownFile-web" />
	</rules>

</nlog>
