<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Oluwatobi Kareem">
    <meta name="description" content="A personal website for Tobi Kareem">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="tobikareem.com, kareem, tobi kareem, oluwatobi kareem, tobi, tobikareem, tobi webpage, personal homepage,  man of fortune, fortune" />
    <meta name="application-name" content="tobikareem.com" />
    <meta name="HandheldFriendly" content="true" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~css/fonts.css" asp-append-version="true" />



</head>
<body>
    @RenderBody()
</body>
</html>
